body{
  font-family: Georgia, serif;
}
*{
   font-family: Georgia, serif;
}
.priheader{
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-image: url(https://papers.co/wallpaper/papers.co-ng41-mountain-snow-dark-blue-winter-sky-star-40-wallpaper.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 60;
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
 }

 .bg-dark {
    background-color: #343a40!important;
    position: fixed;
    width: -webkit-fill-available;
}

#skills{
  text-align: center;
  font-size: 30;
  color: rgb(0, 0, 0);
  font-weight: 200;
  background: #e7e7e7;

}
.bg-light {
    background-color: rgba(18, 188, 196, 0.48)!important;
}

#skills2{
  background: linear-gradient(#12bcc4 0%,#000000 100%) ;
  padding-bottom: 100px;
}

#sport{
  text-align: center;
  font-size: 30;
   background-image: url(https://eskipaper.com/images/sports-wallpaper-14.jpg);
  background-size: cover;
  
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.row{
  text-align: center;
  font-size: 30;
  
}
nav{
  position: fixed;
  top: 0%;
}

.col-xs-3 col-sm-2 col-md-2 skill-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 30;
}

.xx{
  text-align:center;
  font-size: 200;
  font-weight: 800;
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url(https://papers.co/wallpaper/papers.co-ng41-mountain-snow-dark-blue-winter-sky-star-40-wallpaper.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #about {
    padding-top: 90px;
    padding-bottom: 100px;
}

.about-me{
  padding-top: 90px;
  padding-bottom: 100px;
}
*/

#work{
  font-size: 50;
  font-weight: 300;
}

#contact{
  
  
  background-color: 	#DEFEFF ;

  /* Center and scale the image nicely */
   font-size: 40;
   font-weight: 300;
   color: rgb(12, 1, 1);
} 




.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(222, 254, 255);
    border-radius: .3rem;
}


.badm{
  border-radius: 15%;
  border: double ;
  border: thick;
}
.prof-pic{
  border-radius: 50%;
}



.profile-pic{ 
  border-radius: 50%; 
  border-style: groove; 
}


.carousel-item {
 height: max-content;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/


.item2 {
  background-color:yellow;
  /*height: 100px;*/
} */

.item3 {
  background-color:blue;
  /*height: 100px;*/
}


@media (min-width: 768px)
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 auto;
}

#skills2 p ,
#skills2 h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
 
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: linear-gradient(45deg, #73777c, rgba(226, 231, 235, 0.5));
}
